body {
    background: #efefef;
    font-family: "Montserrat", sans-serif;
}

.navigation__list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation__link {
    text-decoration: none;
}

.navigation__item {
    display: block;
    padding: 0 20px;
    list-style-type: none;
}

.about {
    max-width: 800px;
    height: 100vh;
}

.about, .work {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.about__picture {
    float: left;
    width: 100%;
    max-width: 500px;
}

.work__header {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.work__link {
    padding: 2px 4px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__picture {
    max-width: 100px;
}

@media (max-width: 640px){

    .navigation__switcher{
        width: 30px;
        height: 25px;
        border:none;
        border-top: 5px solid #000;
        position: absolute;
        right:0;
        top:0;
        z-index:2;
        background: none;
        outline: none;
        margin: 5px;
    }

    .navigation__switcher::before, .navigation__switcher::after{
        content: '';
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        border-top: 5px solid #000;
        transform: translateY(5px);
    }
    
    .navigation__switcher::after{
        transform: translateY(15px);
    }
    

    .navigation__list{
        flex-direction: column;
        display:none;
    }

    .navigation__list--visible{
        display:flex;
    }
    
    .navigation__item{
        margin: 16px;
    }
}

@media (min-width: 641px){
    .navigation__switcher{
        display: none;
    }
}