body {
    background: #efefef;
}

.navigation__list{
    width:100%;
    display: flex;
    justify-content: center;
}

.navigation__link{
    text-decoration: none;
}

.navigation__item{
    display:block;
    padding: 0 20px;
    list-style-type: none;
}

.about, .content{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.content{
    text-align: center;
}

.about__picture{
    float:left;
    width:100%;
    max-width:100px;
}

.work__picture{
    width:100%;
}

